*{
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

button {
    background-color: darkblue;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    max-width: 250px;
    padding: 20px;
    text-align: center;
    display: block;
}

